a {
  cursor: pointer;
}

a:hover {
  background-color: lightblue;
}

mat-card {
  cursor: pointer;
  margin-bottom: 10px;
}

.mat-card-avatar {
  width: unset;
  height: unset;
  border-radius: 0;
}

mat-card-sm-image {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 100px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 90px;
}

.top-gradient-div {
  background: #000046;
  background: -webkit-linear-gradient(to right, #87CEEB,  	#E6E6FA);
  background: linear-gradient(to right, #87CEEB,  	#E6E6FA);
}

.rezervare-bikepark-button-wrapper {
  padding-bottom: 10px;
}

mat-card:hover {
  background-color: lightblue;
}

.header-text {
  align-self: flex-end;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.content-text {
  align-self: flex-end;
  margin: 0 8px;
  display: flex;
  flex-direction: column;
}

.additional-header {
  align-items: end;
  width: 100%
}

.imagine {
  height: 25px;
  width: 25px;
}
