<mat-card class="example-card, top-gradient-div">
  <mat-card-header class="">
    <div mat-card-avatar>
      <img mat-card-sm-image src="{{bikepark.contact.photo.url}}" alt="{{bikepark.denumire}}">
    </div>

    <mat-card-title>{{ bikepark.denumire }}</mat-card-title>
    <mat-card-subtitle>Tara: {{bikepark.contact.locatie.tara}}</mat-card-subtitle>
    <div class="header-text additional-header">
      <div class="mat-card-subtitle date">
        Numar de locuri: {{bikepark.nrLocuri}}
      </div>
      <div class="mat-card-subtitle date">
        Telescaun: {{bikepark.telescaun}}
      </div>
      <div class="mat-card-subtitle date">
        Numar de trasee: 5
      </div>
    </div>

  </mat-card-header>
  <div class="rezervare-bikepark-button-wrapper">
    <button mat-raised-button (click)="goToDetailedBikepark(bikepark.id)">
      <!--<mat-icon>list</mat-icon>-->
      Rezerva Loc
    </button>
  </div>
  <!--<div class="float-right">
    <button mat-raised-button (click)="goToDetailedBikepark(bikepark.id)">Detalii</button>
  </div>-->
  <!--<button (click)="goToDetailedBikepark(bikepark.id)">
    Rezerva Loc
  </button>-->
  <!--<hr>
  <mat-card-content>
    <p>
      {{ bikepark.descriere }}
    </p>
    <p>
      {{bikepark.contact.locatie.tara}}
    </p>
    <button (click)="goToDetailedBikepark(bikepark.id)">
      Rezerva Loc
    </button>
  </mat-card-content>-->
  <!--<mat-card-content>
    <mat-card-actions class="m-0">

      <div class="content-text d-flex flex-row float-right" >
        <img class="imagine" src="assets/img/distance.png">
        <span class="align-self-center" >{{distance}} m</span>
      </div>

    </mat-card-actions>

  </mat-card-content>-->
</mat-card>
