<h1 mat-dialog-title>Edit profile</h1>
<div mat-dialog-content>
  <div class="main-container">
    <mat-form-field>
      <input matInput [(ngModel)]="concurs.denumire" placeholder="Denumirea Concursului"
             value="{{concurs.denumire}}" onchange="">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Data de start" [(ngModel)]="concurs.dataStart">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 startView="year"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="concurs.minimParticipanti" placeholder="Numarul minim de participanti"
             value="{{concurs.minimParticipanti}}" onchange="">
    </mat-form-field>
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()">Save</button>
</div>
