<mat-card class="internship-details">
  <div class="grid-container">
    <div class="internship-logo"><img src={{bikerDetails.contact.photo.url}} alt="..."></div>
    <mat-card-title class="biker_nume">{{bikerDetails.prenume}} {{bikerDetails.nume}}</mat-card-title>
    <!--<div class="internship-desc">{{concursDetails.dataStart}}</div>-->
    <div class="internship-status">
      <ul>
      </ul>
    </div>
    <div class="biker_tel">Numar tel : {{bikerDetails.contact.phoneNumber}}</div>
    <!--<div class="internship_date">{{concursDetails.dataStart | date: 'yyyy/MM/dd'}}</div>-->
    <div class="biker_nastere">Data Nasterii: {{bikerDetails.dataNasterii | date: 'yyyy/MM/dd'}}</div>
    <div class="biker_bicicleta">Bicicleta: {{bikerDetails.bicicleta }}</div>
    <div class="biker_disciplina">Disciplina: {{bikerDetails.disciplinaFavorita }}</div>
    <div class="biker_membru">Membru Din: {{bikerDetails.membruData | date: 'yyyy/MM/dd'}}</div>
    <div class="biker_ani">Ani de dat: {{bikerDetails.aniExperienta}}</div>
    <div class="biker_localitate">Localitate: {{bikerDetails.contact.locatie.localitate}}</div>
    <div class="biker_provincie">Provincie: {{bikerDetails.contact.locatie.provincie}}</div>
    <div class="biker_strada">Strada: {{bikerDetails.contact.locatie.strada}}</div>
    <div class="biker_numar_strada">Numar: {{bikerDetails.contact.locatie.number}}</div>
    <div class="biker_tara">Tara: {{bikerDetails.contact.locatie.tara}}</div>
    <!--<div class= "internship-logo"> <img src="{{concursLogo.url}}"></div>-->
    <!--<div class="internship-logo"><img src={{bikerDetails.contact.photo.url}} alt="..."></div>-->

    <button mat-raised-button class="internship-modify" *ngIf="isBiker" (click)="openEditDialog()">Edit Biker</button>
    <button mat-raised-button class="contacte-modify" *ngIf="isBiker" (click)="openContactEditDialog()">Edit Contact</button>
    <button mat-raised-button class="location-modify" *ngIf="isBiker" (click)="openLocationEditDialog()">Edit Locatie</button>
    <!--<div class="col-sm-12">
      &lt;!&ndash;Photo upload&ndash;&gt;
      <input class="input-file"
             type="file" (change)="onPhotoFileChanged($event)"
             #fileInput>
      <button mat-raised-button class="edit-button upload-button" (click)="fileInput.click()">
        <mat-icon>add_a_photo</mat-icon>
        Upload Photo
      </button>
    </div>-->
    <!--<a mat-raised-button class="internship-apply" (click)="applyForConcurs(concursDetails.id)">Inscrie-te</a>-->
  </div>
</mat-card>


