<h1 mat-dialog-title>Adaugare Categorie</h1>
<div mat-dialog-content>
  <div class="main-container">
    <mat-form-field>
      <mat-select placeholder = "Disciplina"
                  [(ngModel)] = "categorie.tipDisciplina" name = "tipDisciplina">
        <mat-option *ngFor = "let disc of disciplina"
                    [value] = "disc">
          {{disc}}
        </mat-option>
      </mat-select>
      <!--<input matInput [(ngModel)]="categorie.tipDisciplina" placeholder="Tip Disciplina"
             value="{{categorie.tipDisciplina}}" onchange="">-->
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder = "Dificultate"
                  [(ngModel)] = "categorie.dificultate" name = "dificultate">
        <mat-option *ngFor = "let dif of dificulate"
                    [value] = "dif">
          {{dif}}
        </mat-option>
      </mat-select>
      <!--<input matInput [(ngModel)]="categorie.dificultate" placeholder="Dificultate"
             value="{{categorie.dificultate}}" onchange="">-->
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="categorie.lungime" placeholder="Lungime"
             value="{{categorie.lungime}}" onchange="">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder = "Varsta"
                  [(ngModel)] = "categorie.varsta" name = "varsta">
        <mat-option *ngFor = "let v of varsta"
                    [value] = "v">
          {{v}}
        </mat-option>
      </mat-select>
      <!--<input matInput [(ngModel)]="categorie.varsta" placeholder="Varsta"
             value="{{categorie.varsta}}" onchange="">-->
    </mat-form-field>
  </div>
</div>
<div class="float-right" mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSaveClick()">Save</button>
</div>
