<div class="w-100 h-100">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="card-title-wrapper">
        <mat-card-title>
          <h3>Concurs Rezervari</h3>
        </mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <!--<p>{{bikeparkRezervationList.length}}</p>-->
      <mat-list>
        <mat-list-item *ngFor="let rezervation of concursRezervationList; let lastItem = last;">
          <div class="card-title-wrapper internship">
            <div class="row">

              <div class="col-sm-14">
                <button mat-raised-button (click)="redirectToBikeparkPage(rezervation.id)">
                  <!--<mat-icon>list</mat-icon>-->
                  Detalii
                </button>
              </div>

              <div class="col-sm-6">
                <h5>{{rezervation.categorie}}</h5>
              </div>
              <!--+ rezervation.concurs_id-->

              <div class="col-sm-4 ">
                {{rezervation.numar}}
              </div>

              <div class="float-right skill-button">
                <button mat-icon-button color="warn" (click)="deleteConcursRezervation(rezervation.id)">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <mat-divider *ngIf="!lastItem"></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
