<div class="card w-100 h-100">
  <div class="card-body">
    <div class="text-monospace" style="position: absolute; left: 50%; top: 50%; transform: translate(-50% , -50%)">
      Bikepark-ul organizeaza <p class="text-danger">{{concursuri.length}}</p>concursuri si are
      <p class="text-danger">{{rezervariBikepark.length}}</p> bikeri care si-au facut rezervare si
      <p class="text-danger">{{rezervariConcurs.length}}</p> de participantii la concursurile din acest Bikepark
      <!--<p class="text-danger">{{skillList}}</p>-->
    </div>
  </div>
</div>
